<h2 style="text-align: center">Video Post</h2>

<div class="example-container">
      
        <mat-form-field>
                <textarea matInput placeholder="Enter video title" [(ngModel)] = "videotitle"></textarea>
        </mat-form-field>
      
        <mat-form-field>
                <input matInput type="text" placeholder="Enter video url" [(ngModel)] = "videourl" />
        </mat-form-field>
        <mat-form-field>
                <input matInput type="text" placeholder="Enter thumbnail url" [(ngModel)] = "thumbanailurl" />
        </mat-form-field>
      
        <mat-form-field>
                <input matInput type="text" placeholder="Enter description" [(ngModel)] = "description" />
        </mat-form-field>
        <mat-form-field>
                <input matInput type="date" placeholder="Enter video date" [(ngModel)] = "videodate" />
        </mat-form-field>
      
        <mat-form-field>
                <input matInput type="text" placeholder="Enter video type" [(ngModel)] = "videotype" />
        </mat-form-field>
</div>