<h2 style="text-align: center">Event Post</h2>

<div class="example-container">
      
        <mat-form-field>
          <input type="text" matInput placeholder="Enter event name" [(ngModel)] = "event.eventname" />
        </mat-form-field>
      
        <mat-form-field>
            <textarea matInput style="width: 100%" placeholder="Enter event address" [(ngModel)] = "event.eventaddress"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="eventPost()">Post Event</button>
        
</div>