<mat-toolbar color="primary">

    <mat-toolbar-row>
      <span>TRC-ADMIN</span>
      <span class="example-spacer"></span>
      <span><a style="color: bisque;text-decoration: none" href="/event">Event</a></span>
      <span class="example-spacer"></span>
      <span><a style="color: bisque;text-decoration:none" href="/video">Video</a></span>
      <span class="example-spacer"></span>
      <span><a style="color: bisque;text-decoration:none" href="/">Quote</a></span>
      <span class="example-spacer"></span>
      <span>Viki</span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  
  </mat-toolbar>