<mat-toolbar color="primary">

    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <span > <a style="color: bisque" href="http://www.truerealizationcentre.org/" target="_blank">True Realization Center</a> </span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  
  </mat-toolbar>